.collapsible {
  display: flex;
}

.collapsible .header {
  display: flex;
}

.collapsible .header div {
  padding: 0 38px;
}

.collapsible .header .button {
  justify-self: flex-end;
  text-align: right;
}

.collapsible .type {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 600;
  flex: 30%;
}

.other {
  flex: 100%;
}

.collapsible .header .title {
  font-size: 22px !important;
  font-weight: 600;
  color: #6a6a6a;
}

.collapsible .content {
  max-width: 600px;
  overflow: hidden;
  margin-left: 32px;
}

.button {
  z-index: 1 !important;
}

.button:hover .content {
  height: 1000px;
}

button.button-micro {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: #fff;
  color: #dadada;
  border: 1px solid #dadada;
  font-size: 24px;
  transition: 0.5s ease-in-out;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.button-micro.inactive svg,
button.button-micro.inactive img,
button.button-micro.active svg {
  width: 24px;
  height: 24px;
  fill: #dadada;
}

button.button-micro:hover {
  cursor: pointer;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

button.button-micro.active {
  background-position: left;
  transition: 0.5s ease-in-out;
  outline: none;
  border: 2px solid;
  border-top-color: var(--primary-color) !important;
  border-right-color: var(--primary-color) !important;
  border-bottom-color: var(--primary-color) !important;
  border-left-color: var(--primary-color) !important;
  transition: border-top-color 0.1s linear, border-right-color 0.1s linear 0.1s,
    border-bottom-color 0.2s linear 0.2s;
  animation: fillPrimaryColor 0.4s ease 0.4s 1 forwards;
}

button.button-micro.active svg {
  animation: rotate 0.4s ease 1 forwards;
}

button.button-micro.inactive svg {
  animation: fillWhiteColor 0.4s ease 0.2s 1 forwards;
  background-position: left;
  transition: 0.5s ease-in-out;
  outline: none;
}

@keyframes fillPrimaryColor {
  0% {
    background-size: -10% -10%;
    transform: rotate(0);
  }

  100% {
    background-size: 300% 100%;
    background-color: var(--primary-color);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fillWhiteColor {
  0% {
    background-size: -10% -10%;
    transform: rotate(0);
  }

  100% {
    background-size: 300% 100%;
    background-color: #fff;
    transform: rotate(-360deg);
  }
}
