@import url("./tablet-responsive.css");
@import url("./mobile-responsive.css");

@font-face {
  font-family: "Apercu Pro";
  src: url("./../public/fonts/apercu_bold_pro.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("./../public/fonts/apercu_medium_pro.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("./../public/fonts/apercu_regular_pro.otf");
  font-weight: 300;
}

/* url("./../public/fonts/apercu_medium_pro.otf") 500,
url("./../public/fonts/apercu_regular_pro.otf") 300; */

:root {
  --background-color: #ffffff;
  --primary-color: #685dc5;
  --secondary-color: #535353;
  --cta-button-color: #4fa16c;
  --white: #ffffff;
  --black: #000000;

  --title-weight: 500;
  --secondary-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Apercu Pro", sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  /* overflow-x: hidden;
  max-width: 100vw; */
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}
