:root {
  --background-color: #ffffff;
  --primary-color: #685dc5;
  --secondary-color: #535353;
  --cta-button-color: #4fa16c;
  --white: #ffffff;
  --black: #000000;

  --title-weight: 500;
  --secondary-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Apercu Pro", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}
