@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px !important;
  }
  .mesh-background img {
    display: none;
  }

  .introduction,
  .application-status {
    flex: 1 !important;
  }

  .introduction .section-title h3 {
    font-size: 1.8em !important;
    line-height: 1.6em;
  }

  .introduction .section-title .subtitle {
    font-size: 1.2em;
  }

  .introduction .section-title .content,
  .introduction .section-title .position {
    font-size: 1em;
  }

  .application-closes,
  .application-more-info {
    width: 80% !important;
  }

  .application-closes .app-value {
    font-size: 1em !important;
  }

  .application-more-info .right-section {
    margin-left: 40px;
  }

  /* 
    About section
  */
  img.student-image {
    width: 80%;
  }

  .about-content-text {
    width: 100% !important;
  }

  .about-content-text .content-title {
    font-size: 2.2em !important;
  }

  .about-content-text .content-body {
    font-size: 1.2em !important;
  }

  .commitment-group {
    flex-direction: column;
  }

  .cards .card {
    width: 86% !important;
  }

  .scholarship-value .middle-line {
    margin-top: 524px !important;
    margin-bottom: 86px !important;
  }

  .testimonial .body {
    padding: 60px 60px !important;
    font-size: 18px !important;
  }

  .testimonial .footer {
    padding: 0 60px !important;
  }

  .faq {
    max-width: 700px;
    margin: 0 auto;
  }

  .faq .header .title {
    font-size: 24px !important;
    margin-left: 10px;
  }

  .bottomNav {
    display: none !important;
  }
}
